*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin : 0;
  padding: 0;
  font   : inherit;
}

img,
picture,
svg,
video {
  display  : block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline         : none;
}

button {
  cursor          : pointer;
  background-color: transparent;
  outline         : none;
  border          : 0;
}

body {
  width      : 100%;
  min-height : 100vh;
  font-weight: 400;
  font-size  : 16px;
  line-height: 1;
}

.btn {
  /* border-radius  : 20px; */
  display        : block;
  justify-content: center;
  align-items    : center;
  margin         : 0 auto;
  text-align     : center;
}

.btn:nth-child(2) {
  /* margin-top: 10px; */
}

.bg-black {
  background-color: #000;
  border          : 0;
  font-weight     : 600;
  color           : #fff;
  margin-bottom   : 10px;
}

.bg-white {
  background-color: #fff;
  border          : 0;
  font-weight     : 600;
  color           : #000;
}

.icon {
  margin-right: 20px;
}

.icon--black {
  color: #000;
}

.icon--white {
  color: #fff;
}